<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>news</title>
</head>
<!--<body>
    <h3>最新ニュース</h3>
    <ul class="news_list">
        <li class="news_list_item">
            <div class="news_list_date">
              <time>2022.12.13</time>
              <a href = "http://127.0.0.1:8000/animal">動物</a>
            </div>
            <a href = "http://127.0.0.1:8000/news1">下野動物園でパンダの赤ちゃん産まれる</a>
            <span class="arrow"></span>
        </li>

        <li class="news_list_item">
            <div class="news_list_date">
              <time>2022.12.13</time>
              <a href = "http://127.0.0.1:8000/it">IT</a>
            </div>
            <a href = "http://127.0.0.1:8000/news2">現役VTuberが語る!最新VTuber戦略</a>
            <span class="arrow"></span>
        </li>

        <li class="news_list_item">
            <div class="news_list_date">
              <time>2022.12.13</time>
              <a href = "http://127.0.0.1:8000/politics">政治</a>
            </div>
            <a href = "http://127.0.0.1:8000/news3">たばこ増税</a>
            <span class="arrow"></span>
        </li>
  </ul>

</body>-->

{% extends 'chat/base.html' %}

{% block body %}
  <a href = "http://127.0.0.1:8000">トップ</a>
  <a href = "http://127.0.0.1:8000/weather">気象</a>
  <a href = "http://127.0.0.1:8000/politics">政治</a>
  <a href = "http://127.0.0.1:8000/sport">スポーツ</a>
  <a href = "http://127.0.0.1:8000/it">IT</a>
  <a href = "http://127.0.0.1:8000/animal">動物</a>
  <section class="hero is-dark">
    <div class="hero-body">
      <div class="container">
        <center><h1 class="title">最新のニュース</h1></center>
      </div>
    </div>
  </section>

  <div>
    {% for content in top_headlines.articles %}
    <div class="card">
      <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="{{ content.urlToImage }}" alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media-content">
          <p class="title is-4">{{ content.title }}</p>
          <p class="subtitle is-6">{{ content.author }}</p>
        </div>
      </div>

      <div class="content">
        {{ content.description }}
        <br>
        <time>{{ content.publishedAt }}</time>
      </div>
    </div>
    {% endfor %}
    </div>

  </div>

  <a href = "http://127.0.0.1:8000/app01/">続きを読む</a>
{% endblock %}
</html>