<html lang="ja">
  <head>
    <meta charset="utf-8">
    {% if user.is_authenticated %}
    <p><font size="5">こんにちは、 {{ user.username }}さん！</font></p>

    <font size="4"><a href="{% url 'logout' %}">ログアウト</a></font>
    {% else %}
    <p><font size="5">ニュースの続きを読むにはログインしてください</font></p>
    <p><font size="4"><a href="{% url 'login' %}">ログイン</a></font></p>
    {% endif %}
  </head>
  <body>

    <hr>
    <p><a href="{% url 'priv' %}">最新記事の続きはこちら</a></p>
    <p><a href="{% url 'priv2' %}">スポーツ記事の続きはこちら</a></p>
    <p><a href="{% url 'priv3' %}">IT記事の続きはこちら</a></p>
    <p><a href="{% url 'priv4' %}">政治記事の続きはこちら</a></p>
    <font size="4"><p><a href="{% url 'pub' %}">トップ</a></p></font>

    <body bgcolor="f5f5f5">
    
</body>
</html>