<html lang="ja">
  <head>
    <meta charset="utf-8">
    {% if user.is_authenticated %}
    <p>Hi {{ user.username }}!</p>
    <meta http-equiv = "Refresh" content = "" url = "http://127.0.0.1:8000/news1">

    <!--<a href = "http://127.0.0.1:8000/news1">ニュースの続きはこちら</a>-->

    <br>

    <a href="{% url 'logout' %}">logout</a>
    {% else %}
    <p>You are not logged in.</p>
    <p><a href="{% url 'login' %}">login</a></p>
    {% endif %}
  </head>
  <body>

    <hr>
    <p><a href="{% url 'priv' %}">priv</a></p>
    <p><a href="{% url 'pub' %}">public</a></p>
    
</body>
</html>