<html lang="ja">
  <head>
    <meta charset="utf-8">
    {% if user.is_authenticated %}
    <center><p><font size="5">こんにちは、 {{ user.username }}さん！</font></p>

      <button class="button is-outlined">
        <a href="{% url 'logout' %}" class="icon-text has-text-dark">
        <span>ログアウト</span>
        </a>
      </button>
    {% else %}
    <center><p><font size="5">ニュースの続きを読むにはログインしてください</font></p>
      <button class="button is-outlined">
        <a href="{% url 'login' %}" class="icon-text has-text-dark">
        <span>ログイン</span>
        </a>
      </button>
    {% endif %}
  </head>
  <body>

    <hr>
    <div class = "block">
      <p><a href="{% url 'priv' %}">最新記事の続きはこちら</a></p>
      <p><a href="{% url 'priv2' %}">スポーツ記事の続きはこちら</a></p>
      <p><a href="{% url 'priv3' %}">IT記事の続きはこちら</a></p>
      <p><a href="{% url 'priv4' %}">政治記事の続きはこちら</a></p>
      <button class="button is-outlined">
        <a href="{% url 'pub' %}" class="icon-text has-text-dark">
        <span>トップ</span>
        </a>
      </button>
    </div>
    <body bgcolor="f5f5f5">
    
</body>
</html>