<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>news</title>
    <div class="level-item">
      <div class="field has-addons">
      <h1 class = "title">NEWS</h1>
      <p class = "subtitle is-6">Powered by <a href="https://newsapi.org">News API</a></p>
      </div>
      <div class="field has-addons">
        <div class = "block">
        <button class="button is-outlined">
        <a href = "http://127.0.0.1:8000">トップ</a>
        </button>
        <button class="button is-outlined">
        <a href = "http://127.0.0.1:8000/sport">スポーツ</a>
        </button>
        <button class="button is-outlined">
        <a href = "http://127.0.0.1:8000/it">IT</a>
        </button>
        <button class="button is-outlined">
        <a href = "http://127.0.0.1:8000/politics">政治</a>
        </button>
        <button class="button is-outlined">
        <a href="http://127.0.0.1:8000/app01/" class="icon-text has-text-dark">
        <span class="icon">
          <i class="fa fa-user"></i>
        </span>
        <span>マイページ</span>
        </a>
      </button>
    </div>
      </div>
    </div>
</head>
{% extends 'authtest/base.html' %}

{% block body %}
<section class="hero is-dark">
  <div class="hero-body">
    <div class="container">
      <center><h1 class="title">政治に関連する記事</h1></center>
    </div>
  </div>
</section>

<div>
  {% for content in top_headlines.articles %}
  <div class = "card">
  <div class = "media">
    <div class="media-left">
      <figure class="image is-128x128">
        <img src="{{ content.urlToImage }}" alt="Placeholder image">
      </figure>
    </div>
      <div class="media-content">
        <p class="title is-5">{{ content.title }}</p>
        <p class="subtitle is-6">{{ content.author }}</p>
      <br>
      <p class="subtitle is-6">
      {{ content.description }}
      </p>
      <br>
      <time>{{ content.publishedAt }}</time>
    </div>
  </div>
  {% endfor %}
  </div>

</div>
{% endblock %}

</html>